@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.services {
  min-height: 100vh;
  height: auto;
  background-color: #2F4858;
  display: flex;
  padding-bottom: 5dvw;
  flex-direction: column;
}
.services h1 {
  color: #FFD6BA;
  margin: 6rem auto 0 auto;
}
.services .box {
  padding: 0.5rem;
  margin: 0;
  outline: 1px solid #FFD6BA;
  outline-offset: 10px;
  background-color: #FFD6BA;
  color: #2F4858;
  transition: 0.2s ease-in-out;
  max-width: 20dvw;
  max-height: 18dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services .box h3 {
  font-size: 1.5dvw;
}
.services .box p {
  font-size: 1dvw;
}
.services .box img {
  width: 56px;
  height: 56px;
}
.services .boxes {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.services .row1 {
  display: inline-flex;
  margin: auto;
  gap: 5rem;
}
.services .row2 {
  display: inline-flex;
  margin: auto;
  gap: 5rem;
}

.acerca-de {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.acerca-de h1 {
  margin: 2rem auto 2rem auto;
}
.acerca-de .info-de {
  display: inline-flex;
}
.acerca-de .info-de img {
  width: 30vw;
  margin-left: auto;
}
.acerca-de .info-de p {
  margin: auto;
  width: 50vw;
  font-size: 1.2rem;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactame input, .contactame textarea {
  background-color: transparent;
  outline: none;
  border: 1px solid #2F4858;
  width: 20vw;
}
.contactame input:focus, .contactame textarea:focus {
  background-color: transparent;
  outline: none;
  border: 2px solid #2F4858;
}

.trabajaprofundamente {
  min-height: auto;
  background-color: #2F4858;
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
  justify-content: center;
  align-items: center;
}
.trabajaprofundamente h1 {
  color: #FFD6BA;
  margin: 6rem auto 0 auto;
}
.trabajaprofundamente ul {
  margin: 6rem auto 0 auto;
}
.trabajaprofundamente ul li {
  color: #FFD6BA;
  font-size: 2rem;
  padding-left: 2rem;
}

.porqueconmigo {
  min-height: auto;
  background-color: #FFD6BA;
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
  justify-content: center;
  align-items: center;
}
.porqueconmigo h1 {
  color: #2F4858;
  margin: 6rem auto 0 auto;
}
.porqueconmigo ul {
  margin: 6rem auto 0 auto;
  width: 50vw;
}
.porqueconmigo ul li {
  color: #FFD6BA;
  font-size: 2rem;
  padding-left: 2rem;
}
.porqueconmigo .row1 {
  flex-direction: column;
  margin: 0;
  gap: 0;
}
.porqueconmigo .box {
  padding: 2rem;
  background-color: #2F4858;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #2F4858;
  border-top: 2px solid #2F4858;
  width: 40vw;
  height: 20vw;
  box-shadow: 0px 2px 0px #2F4858;
}
.porqueconmigo .box h3, .porqueconmigo .box p {
  color: #FFD6BA !important;
  font-size: 1.5dvw;
  margin-left: 2rem;
}
.porqueconmigo .box img {
  width: 64px;
  height: 64px;
  filter: invert(100%);
}
.porqueconmigo .boxes {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.porqueconmigo .row1 {
  display: inline-flex;
  margin: auto;
}

@font-face {
  font-family: "JWH";
  font-style: normal;
  font-weight: 400;
  src: url("source/assets/fonts/JWH/JWH.ttf") format("ttf");
}
/*
body {
    background-color: #FFD6BA !important;
}
*/
html,
body {
  background-color: #ffd6ba;
}

* {
  font-family: "Questrial";
  color: #2f4858;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: "JWH";
}

p {
  font-family: "Questrial";
}

small {
  display: block;
  color: #888;
}

main.container,
footer.container {
  max-width: 900px;
}

.blog-container {
  margin-left: 10vw;
  margin-right: 10vw;
}

footer.container {
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px dashed #aaa;
}

@media (max-width: 767px) {
  .sidebar {
    padding-top: 30px;
  }
}
@media (min-width: 980px) {
  body {
    padding-bottom: 40px;
  }
  .nav-icon:first-child {
    margin-left: 1rem;
  }
  .presentation-logo {
    margin: auto;
  }
}
body > main.container {
  padding: 80px 15px 0; /* 80px to make the container go all the way to the bottom of the topbar */
}

.logo-nav {
  width: 64px;
  transform: translateY(0.5rem);
  height: 64px;
  margin-right: 1rem;
}

.navbar-brand {
  color: #2f4858 !important;
  font-family: "JWH";
}

.nav-link {
  color: #2f4858 !important;
  transition: 0.2s;
}

.nav-link:hover {
  font-weight: bold;
}

.navbar-nav {
  margin-left: auto;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition: 0.2s ease-in-out;
}

.nav-icon > a:hover {
  transform: scale(1.2);
}

.navegador {
  background-color: rgba(255, 214, 186, 0.4392156863);
  backdrop-filter: blur(15px);
  transition: 0.2s;
}

.home-container {
  display: inline-flex;
  width: 80vw;
  transform: translateX(8vw);
  padding-top: 3rem;
  min-height: 100vh;
  height: auto;
  background-color: #ffd6ba;
}

.presentation-logo {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.golden {
  font-weight: bold;
  background-image: linear-gradient(to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, s #462523 100%) !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

••••••• main {
  width: 100vw;
  background-color: #ffd6ba;
}

.logotipo-home {
  z-index: 2;
  background-color: #2f4858;
  padding: 3rem;
  box-shadow: 0px 0px 15px #2f4858;
  width: 25vw;
}

.presentation {
  color: #2f4858;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
}
.presentation h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}
.presentation button {
  margin-left: auto;
  margin-right: auto;
}

.dark-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid #2f4858;
  color: #2f4858;
  background-color: transparent;
  backdrop-filter: blur(15px);
  transition: 0.2s;
}

.dark-btn:hover {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid #2f4858;
  color: white;
  background-color: rgba(47, 72, 88, 0.4941176471);
  backdrop-filter: blur(15px);
  transform: scale(1.1);
}

.footer-rrss {
  margin-left: 100%;
  display: flex;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

@media (max-width: 720px) {
  .nav-icon:first-child {
    margin-left: 0;
  }
  .logotipo-home {
    padding: 0.5rem;
    height: 24dvw;
    width: 24dvw;
  }
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .home-container .presentation {
    height: auto;
  }
  .home-container .presentation h1 {
    font-size: 10dvw;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
  }
  .home-container .presentation-logo {
    padding-top: 10dvw;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .home-container .presentation-logo img {
    width: 40dvw;
    height: 40dvw;
  }
  .services {
    height: auto;
    padding-bottom: 15dvw;
  }
  .services h1 {
    text-align: center;
  }
  .services .boxes {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .services .boxes .row1,
  .services .boxes .row2 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .services .boxes .row1 .box,
  .services .boxes .row2 .box {
    max-width: none;
    max-height: none;
    width: 85dvw;
    height: 60dvw;
  }
  .services .boxes .row1 .box img,
  .services .boxes .row2 .box img {
    height: 24px;
    width: 24px;
  }
  .services .boxes .row1 .box h3,
  .services .boxes .row2 .box h3 {
    font-size: 1rem;
  }
  .services .boxes .row1 .box p,
  .services .boxes .row2 .box p {
    font-size: 1rem;
  }
  .acerca-de {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2rem;
  }
  .acerca-de .info-de p {
    width: 80%;
    font-size: 1rem;
    text-align: justify;
  }
  .trabajaprofundamente .trabaja-box1 ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .trabajaprofundamente .trabaja-box1 ul > li {
    font-size: 1rem;
    padding-left: 0;
    padding-right: 2rem;
  }
  .porqueconmigo h1 {
    text-align: center;
  }
  .porqueconmigo .boxes .row1 .box {
    width: 80dvw;
    height: auto;
  }
  .porqueconmigo .boxes .row1 .box img {
    width: 32px;
    height: 32px;
  }
  .porqueconmigo .boxes .row1 .box p {
    font-size: 1rem;
    width: 100%;
    text-align: left;
    width: 75dvw;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-rrss {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
  }
  footer .firma {
    font-size: 0.5rem !important;
    margin-top: 1rem;
  }
  .contacto form {
    width: 80dvw;
  }
  .contacto form input, .contacto form textarea {
    width: 75dvw;
  }
}

/*# sourceMappingURL=app.css.map */
