.acerca-de {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    margin-top: 4rem;
    h1 {
        margin: 2rem auto 2rem auto;
    }

    .info-de {
        display: inline-flex;

        img {
            width: 30vw;
            margin-left: auto;
        }

        p {
            margin: auto;
            width: 50vw;
            font-size: 1.2rem;
        }

    }


}