.services {
    min-height: 100vh;
    height:auto;
    background-color: #2F4858;
    display: flex;
    padding-bottom: 5dvw;
    flex-direction: column;
    
    h1 {
        color: #FFD6BA;
        margin: 6rem auto 0 auto;
    }


.box {
    padding: 0.5rem;
    margin: 0;
    outline: 1px solid #FFD6BA;
    outline-offset: 10px;   
    background-color: #FFD6BA;
    color: #2F4858;
    transition: 0.2s ease-in-out;
    max-width: 20dvw;
    max-height: 18dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    h3 {
        font-size: 1.5dvw;
    }

    p {
        font-size: 1dvw;
    }

    img {
        width: 56px;
        height: 56px;
    }

}

.boxes {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.row1 {
    display: inline-flex;
    margin: auto;
    gap: 5rem;
}

.row2 {
    display: inline-flex;
    margin: auto;
    gap: 5rem;
}



}
